input{
  background-color: #EEE;
  border: none;
  color: #333;
  cursor: pointer;
  display:block;
  font-size:1.2em;
  height:70px;
  margin:10px auto;
  width:130px;
}
input:disabled{
  color:#999;
  cursor: not-allowed;
}
